*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color:#8e7bef;
    --secundary-color: #fcda68;
    --third-color: #423f40;
    --quarter-color: #7F7F7F;
    --fifth-color: #f9f5f2;

}

body {
    background-color: white;
    color: black;
    /* max-width: 1200px; */
    margin: 0 auto;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

hr {
    border: 1px solid #646262; 
    margin: -20px;
    margin-left: 0;
}

main {
    padding-top: 50px;
    margin: 0 auto;
}


img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
} 

button {
    border: none;
}


.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
}
.header__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    top: 50px;
    right: -100%;
    transition: right .5s linear;
}
.header__list.active {
    right: 0;
    transition: right .5s linear;
    
}
.header__list > * {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: 1px solid;
}
.header__btn {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.section1 {
    padding-top: 65%;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 70%;
    
}

.title {
    font-size: 50px;
    text-align: center;
}

.lorem {
    font-size: 25px;
    text-align: center;
    color: var(--third-color);
}

.year {
    font-size: 20px;
}

.span-color1 {
    color: var(--primary-color);
}
.span-color2 {
    color: var(--quarter-color);
}


.social {
    height: 35px;
    display: flex;
    gap: 25px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social img {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 7px;

}

.photo img:last-child {
    display: none;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    width: 210px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    
}

.btn::before {
    content: '';
    background: url(../icon/letter.png) no-repeat;
    background-size: contain;
    width: 20px;
    aspect-ratio: 1.5;
    display: block;

}
/* ----------------------------------------- */
.section2 {
    padding: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--secundary-color);
}


.title2 {
    font-size: 35px;
    margin-bottom: 25px;;
}

.lorem2 {
    font-size: 20px;
    color: var(--third-color);
    margin-bottom: 25px;;
}

.Experiencia {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
}

.fechaExp1 {
    display: flex;
    align-items: center; 
    flex-direction: row; 
    gap: 20px;
    
}

.descrip1{
   display: flex;
   flex-direction: column;
   margin-top: 15.5px;
}
.f1 {
    color:var(--third-color);;

}

.colorf1 {
    color:var(--third-color);;
}


.Habilidades1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.habil2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.habil2 img {
    width: 60px;
    aspect-ratio: 1;
}

.habil2 p {
    max-width: 150px ;
    text-align: center;
}

/* ----------------------------------- */

.section3 {
    padding: 20px;
    margin-bottom: 70px;
    display: flex;

}


.textPortafolio {
    font-size: 35px;
}

.bloqueEj1 img {
    font-size: 25px;
    margin-bottom: 25px;
    gap: 35px;
}

/* ------------------------ */

footer {
 padding: 30px;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 45px;
}

.title3 {
    font-size: 32px;
}

.iconContacto {
   display: flex;
   align-items: center;
   gap: 80px;
   padding-bottom: 45px;
}

.iconContacto img {
   
    background-color: var(--fifth-color);
    border-radius: 50%;
    padding: 25px;
    
}

.icon-Telefono {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1{
    font-size: 18px;
    text-align: center;
}

.p2 {
    font-size: 15px;
    text-align: center;
    color: var(--quarter-color);
}

.textFinal {
    color: var(--primary-color);
    font-size: 20px;
    padding-bottom: 25px;
}







@media (min-width: 850px) {
    .header__list {
        flex-direction: row;
        gap: 15px;
        position: static;
    }
    .header__list > * {
        color: black;
        padding: 7.5px 15px;
        border-radius: 20px;
        background: none;
        border: none;

    }

    .header__btn {
        display: none;
    }

    .section1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        padding: 70px;
        padding-bottom: 45%;

    }

    .title {
        grid-column: 1;
        grid-row: 1;
        font-size: 80px;
        text-align: start;
    }

    .lorem {
        grid-column: 1;
        grid-row: 2;
        font-size: 30px;
        text-align: start;


    }

    .year {
        grid-column: 1;
        grid-row: 3;
        font-size: 24px;
    }

    .social {
        grid-column: 1;
        grid-row: 4;

    }
    .photo {

        grid-column: 2;
        grid-row: 1/ span 5;

    }
    .photo img:first-child {
        display: none;
    }
    .photo img:last-child {
        display: block;
    }

    .btn {
        grid-column: 1;
        grid-row: 5;
    }

    /* ------------------- */

    .section2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        padding: 70px;
    }

    .titleYLorem {
        grid-column: 1;
        grid-row: 1;
        font-size: 32px;
        text-align: start;
        
    }
    .title2 {
        max-width: 50%;
    }

    .lorem2 {
       padding-top: 60px;;
       max-width: 70%;
    }

    

    .Experiencia {
        grid-column: 2;
        grid-row: 1;
        
    }

    .fechaExp1 {
        padding-bottom: px;
    }

    .textHabilidades {
        grid-column: 1;
        grid-row: 2;

    }

    .Habilidades1 {
        grid-column: 1/ span 2;
        grid-row: 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 75px;

    }

    /* ------------------- */

    /* -------------------- */

    footer {
        padding: 70px;
        display: grid;
        gap: 45px;
    }

    .title3 {
        display: flex;
        align-items: start;
    }
    .iconContacto {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 170px;
      
    }

    .iconContacto img {
        border-radius: 30%;
        width: 120px;
        aspect-ratio: 1;
    }

    .icon-Telefono img{
        margin-bottom: 20px;
    }

    .icon-email img{
        margin-bottom: 20px;

    }
    .p1 {
      font-size: 12px;
    }

    .p2 {
        font-size: 10px;
    }

    .textFinal {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

  

}
   
    

